<!--usr,投稿フォーム-->
<body class="d-flex flex-column vh-100">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
       <%= render 'user_info' %>
         <%= render 'books/book_form',book:@book %>
      </div>
<!--Users一覧情報-->
<div class="col-md-8 offset-md-1">
  <h1 class="font-weight-bold">Users</h1>
    <table class="table">
      <thead>
       <tr>
        <th>image</th>
        <th>name</th>
        <th>show</th>
      　</tr>
      </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_image,width: 100, height: 100 %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>