<!DOCTYPE html>
<html>
  <head>
   
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5bd3e9a1d7.js" crossorigin="anonymous"></script>
  </head>
   <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to root_path, class: 'navbar-brand' do %>
        <h1>Bookers</h1>
        <% end %>
        <div class="container">
            <ul class="navbar-nav ml-auto">
   
    <% if user_signed_in? %>
       <ul class ="nav">
      <li class="nav-item">
       <i class="fa-solid fa-house"><%= link_to 'Home',user_path(current_user),class: 'nav-link text-light' %></i>
      </li>
      <li class="nav-item"><i class="fa-solid fa-users">
        <%= link_to 'Users',users_path,class: 'nav-link text-light' %>
      </li></i>
      <li class="nav-item"><i class="fa-solid fa-book-open">
        <%= link_to 'Books',books_path,class: 'nav-link text-light' %> 
      </li></i>
      <li class="nav-item"><i class="fa-solid fa-right-from-bracket">
        <%= link_to "Log out", destroy_user_session_path, method: :delete,class: 'nav-link text-light' %> 
      </li></i>
    <% else %>
      <li class="nav-item">
       <i class="fa-solid fa-house"><%= link_to "Home",root_path,class: 'nav-link text-light' %></i>
      </li>
      <li class="nav-item"><i class="fa-solid fa-link">
        <%= link_to "About",home_about_path,class: 'nav-link text-light' %> 
      </li></i>
      <li class="nav-item"><i class="fa-solid fa-user-plus">
        <%= link_to "Sign up", new_user_registration_path,class: 'nav-link text-light' %>
      </li></i>
      <li class="nav-item"><i class="fa-solid fa-right-to-bracket">
        <%= link_to "Log in", new_user_session_path,class: 'nav-link text-light'%>
      </li></i>
    <% end %>
   </ul>
        </div>
      </nav>
    </header>
    
    <main>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>  
    <%= yield %>
    </main>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
    
  </footer>
  
  </body>
</html>